@{
    ViewData["Title"] = "Reasons Why Lillie is Awesome";
}
@model Mission04_lah263.Views.Project.IndexModel
<!--Lillie Heath
    Section 4
    Group 12 -->
<!--A picture of me doing something I enjoy-->
<img src="images/20230113_083433.jpg" width="300" />
<!--header that lists my preferred name-->
<h1>Lillie</h1>
<!--a paragraph about what I hope to get out of IS 413-->
<p>
    I hope to be able to learn how to better work ASP.NET and be comfortable coding in C#.
    I hope to be able to ge to know Professor Hilton and his TAs a little better.
    I also hope to be able to enjoy the learning process and not give up when things get hard.
    I am excited to see all my hard work pay off.
</p>
<br />
<!--A list of jobs I am interested in-->
<p>Top 3 Jobs I am interested in:</p>
<ul>
    <li>Starting my own tech company</li>
    <li>Web Development</li>
    <li>Consulting</li>
</ul>